<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="./script.js"></script>
    <script src="./task.js"></script>
    <script src="./task.service.js"></script>
</head>

<body ng-app="taskManager">
    <h1>Task Manager</h1>
    <div ng-controller="taskCtrl as ctrl">
        <div ng-repeat="task in ctrl.tasks">
            <input 
                type="checkbox" 
                ng-checked="task.completed"
                ng-click="task.complete()">
            {{task.name}}
        </div>
    </div>
</body>

</html>